<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Transporte</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Transporte.styles.css" asp-append-version="true" />
</head>
<body class="bg-dark text-light">
    <header class="bg-dark text-light shadow-sm">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/aeta-removebg-preview.png" alt="Logo" width="60" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                         @if(User.IsInRole("Funcionario"))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                        </li>
                        
                       
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Funcionario
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Cursos" asp-action="Index">Cursos</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Veiculos" asp-action="Index">Veículos</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Estudantes" asp-action="Index">Estudantes</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Agendamentos" asp-action="Index">Agendamentos</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Pontos" asp-action="Index">Pontos de Embarque</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Início</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Pagamentos
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="PagamentoMultas" asp-action="Lista">Lista de Pagamentos</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="PagamentoMultas" asp-action="EstudantesComMulta">Cobranca</a></li>

                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Início</a></li>
                                </ul>
                            </li>
                            
                        }
                        @if (User.IsInRole("Motorista"))
                        {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Motorista
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Motoristas" asp-action="index">Agendamentos</a></li>
     
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Início</a></li>
                            </ul>
                        </li>
                        }
                        @if (User.IsInRole("Estudante"))
                        {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Agendamento
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Agendamentos" asp-action="Create">Agendar</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Agendamentos" asp-action="Index">Meus Agendamentos</a></li>

                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Início</a></li>
                            </ul>
                        </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-dark text-light border-top py-3 mt-auto">
        <div class="container text-center">
            &copy; 2024 - Sistema de Transporte | Todos os direitos reservados.
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
