@model IEnumerable<TransporteWeb.Models.Estudante>

@{
    ViewData["Title"] = "Estudantes com Multa";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<h1>Estudantes com Multa</h1>

<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Multa)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var estudante in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => estudante.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => estudante.Multa)
                </td>
            </tr>
        }
    </tbody>
</table>
