@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center ">
    <h1 class="display-4">BEM VINDO AO SISTEMA DE AGENDAMENTO</h1>
    <p>DESENVOLVIDO POR <a href="https://github.com/PedroOliveira2003">GITHUB</a>.</p>
    <img src="C:\Transporte\Transporte\Views\Imagens\images.png" />

</div>
