@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center ">
    <h1 class="display-4">BEM VINDO AO SISTEMA DE AGENDAMENTO</h1>
  
    <a href="Agendamentos/Create" class="btn btn-primary btn-lg">Agendar</a>
    <a href="Estudantes/Create" class="btn btn-primary btn-lg">Estudantes</a>
    <a href="Veiculos/Create" class="btn btn-primary btn-lg">Veiculos</a>
  
    <img src="https://images.unsplash.com/photo-1570125909517-53cb21c89ff2?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8b25pYnVzfGVufDB8fDB8fHww" />
    <p>DESENVOLVIDO POR <a href="https://github.com/PedroOliveira2003">GITHUB</a>.</p>
</div>
