

<h1>Filtrar</h1>


<h4> Veiculo </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="agenEst">
            Buscar por Veiculo: <input type="text" name="busca" value="" />
            <input type="submit" value="Filtrar" class="btn btn-close-white" />
        </form>


    </div>
</div>

<div>
    <a asp-action="INDEX">Voltar</a>
</div>
